body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 15px;
    background: url(https://previews.123rf.com/images/sn333g/sn333g1602/sn333g160200057/53263946-fondo-azul-de-los-servicios-de-plomer%C3%ADa.jpg) ;
    box-sizing: border-box;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/* NAVBAR */

.navbar {
    display: flex; 
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 10px;
    background-color: rgb(61, 61, 141);
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 10%;
    margin-right: 50px;
}

.button-home {
    padding-left: 300px ;

}
.buttoncarrito {
   margin-left: 200px;
}

    .imgcarrito {
    width: 40px; 
    height: auto;
    background-repeat: no-repeat;
    padding-right: -400px;
    }



    .iconav {
    width: 30px; 
    height: auto;
    background-repeat: no-repeat;
    align-items: center;
    }

    .icotexto {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 9px;
        min-width: 30% ;
    }

    .icotexto h1 {
        padding-left: 10px; 
    }

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

ul a {
    display:flex ;
    color:aquamarine; 
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    padding-right: 50px;

}

.buttonsesion a {
    font-size: 15px;
    width: 50px;
    margin: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.button-home a {
font-size: 120%;
}


                /* CONTENT */

/* .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

/* SECCIÓN PRODUCTOS */

.productos {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
}

.productos h2, .productos h3  {
    background-color: rgb(121, 121, 226);
    padding: 1rem;
    border-top: solid rgb(61, 61, 141);
}

.productos h2 {
    display: flex;
    justify-content: center;
}
.productos h3{
    border-bottom-left-radius: 18px;
}

.items {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

    /* CANILLA LAVATORIO */

.canilla_lavatorio{
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 10px;
    border: solid blue;
    padding: 0.5rem;
    padding-bottom: 1rem;

}
.canilla_lavatorio:hover {
    background-color: rgb(38, 167, 167);
    transition: 0.4s;
}
.img_lavatorio {
    display: flex;
    justify-content: center;
width: 60%;
height: 60%;

}
.img_lavatorio img{
    border-radius:8px;
}

.h3_lavatorio {
    width: 266px;
}


.canilla_lavatorio button{
    margin-top: 10px;
}

/* CANILLA MESADA */

.canilla_mesada{
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 10px;
    border: solid blue;
    padding: 0.5rem;
    padding-bottom: 1rem;

}
.canilla_mesada:hover {
    background-color: rgb(38, 167, 167);
    transition: 0.4s;
}
.img_mesada {
    display: flex;
    justify-content: center;
width: 60%;
height: 60%;

}
.img_mesada img{
    border-radius:8px;
}

.h3_mesada {
    width: 266px;
}


.canilla_mesada button{
    margin-top: 10px;
}

/* CANILLA PARED */

.canilla_pared{
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 10px;
    border: solid blue;
    padding: 0.5rem;
    padding-bottom: 1rem;

}
.canilla_pared:hover {
    background-color: rgb(38, 167, 167);
    transition: 0.4s;
}
.img_pared {
    display: flex;
    justify-content: center;
width: 60%;
height: 60%;

}
.img_pared img{
    border-radius:8px;
}

.h3_pared {
    width: 266px;
}


.canilla_pared button{
    margin-top: 10px;
}

/* LLAVE PASO */

.llave_paso{
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 10px;
    border: solid blue;
    padding: 0.5rem;
    padding-bottom: 1rem;

}
.llave_paso:hover {
    background-color: rgb(38, 167, 167);
    transition: 0.4s;
}
.img_paso {
    display: flex;
    justify-content: center;
width: 60%;
height: 60%;

}
.img_paso img{
    border-radius:8px;
}

.h3_paso {
    width: 266px;
}


.llave_paso button{
    margin-top: 10px;
}


/* CONTACTO */


.contacto{
    padding-top: 250px ;
    font-size: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}





